<div id="toolbox" class="btn-group-vertical" role="group" aria-label="...">
      <button type="button" id="language" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Change to English">
        <i class="glyphicon glyphicon-globe gi-2x"></i>
      </button>
      <button type="button" id="screenshot" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Screenshot(截屏)">
        <i class="fa fa-file-image-o fa-2x"></i>
      </button>
      <button type="button" id="like" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Like(喜欢)">
        <i class="fa fa-heart fa-2x"></i>
      </button>
      <button type="button" id="share" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Share(分享)">
        <i class="fa fa-external-link fa-2x"></i>
      </button>
      <button type="button" class="close" aria-label="Close" data-toggle="tooltip" data-placement="right" title="Dismiss the toolbar"><span aria-hidden="true">&times;</span></button>
</div>