<section id="section_contact" class="component">
          <h3 class="caption">如果您有任何问题，请不要犹豫，联系我们吧</h3>
          <div class="container-fluid row">
            <div class="image_card wrapper-left">
              <i class="fa fa-microphone"></i><h4>演讲人:<a href="mailto:speaker@tedxkidsxueyuanlu.com">speaker@tedxkidsxueyuanlu.com</a></h4>
              <i class="fa fa-users"></i><h4>观众:<a href="mailto:audience@tedxkidsxueyuanlu.com">audience@tedxkidsxueyuanlu.com</a></h4>
              <i class="fa fa-heart"></i><h4>志愿者:<a href="mailto:hr@tedxkidsxueyuanlu.com">hr@tedxkidsxueyuanlu.com</a></h4>
              <i class="fa fa-hand-rock-o"></i><h4>合作:<a href="mailto:partnership@tedxkidsxueyuanlu.com">partnership@tedxkidsxueyuanlu.com</a></h4>
              <h4 class="lead">订阅TEDxKidsXueyuanlu</h4>
              <form method="post">
                <div class="form-group">
                  <label for="exampleInputEmail1">电子邮件地址 <span class="pigment_red">(功能尚未开启)</span></label>
                  <input type="email" class="form-control" id="subscribeEmail1" placeholder="Email">
                  <button type="submit" class="btn btn-default" id="subscribeButton">提交</button>
                </div>
              </form>
            </div>
            <div class="image_card wrapper-right">
              <div class="col-md-6">
                <img src="../../../assets/images/weixin.jpg" alt="weixin" />
                <h4>微信二维码</h4>
              </div>
              <div class="col-md-6">
                <img src="../../../assets/images/weibo.png" alt="weibo" />
                <h4>微博二维码</h4>
              </div>
            </div>
          </div>
</section><!--end of section_contact-->