/* Custom page header */
$header_height: 60px;
$header_bg_color: white;

.header {
  //border-bottom: 1px solid #e5e5e5;
  height: $header_height;
  background: $header_bg_color;
  nav{
    border-top: solid 3px red;
    height: inherit;
    .navbar-header{
      width: 330px;
      height: $header_height;
    }
    .navbar-brand{
      float: left;
      padding: 0 0;
      width: inherit;
      height: inherit;
      img{
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        &:hover{
          filter: alpha(opacity=70); //IE compat
          opacity: 0.7;
        }
      }
    }
    .navbar-nav{
      /*Make the border bottom 0 length*/
      border-bottom: 0;
      height: 57px;
      background-color: inherit;
      li{
        height: inherit;
        padding: 0 0;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 5px;
        &:last-child{
          padding-right: 15px;
        }
        a{
          height: inherit;
          padding-top: 17px;
          color: #000;
          background-color: inherit;
          font:{
            size: 1.2em;
            weight: bold;
          }
          &:hover{
            background-color: inherit;
            color: red;
          }
          &.active{
            background-color: inherit;
            color: red;
          }
        }
      }
    }
  }
}