 <section id="section_event" class="component">
                <div class="row event_classifier">
                  <ul class="breadcrumb">
                    <li><a href="#">活动回顾</a></li>
                    <li class="active">全部活动</li>
                  </ul>
                </div>
                <div class="row single_event image_card">
                  <img class="col-md-4" src="../../../assets/images/thumbnail.png" alt="thumbnail"/>
                  <div class="introduction col-md-8">
                    <h3 class="event_title">无限&middot;未来 Infinity&middot;Future</h3>
                    <h4 class="event_subtitle">TEDxKids@Xueyuanlu 第一次主题线下活动</h4>
                    <div class="event_flex">
                      <div class="flex-i">
                        <i class="glyphicon glyphicon-time"></i>
                        <i class="fa fa-map-marker"></i>
                        <i class="fa fa-users"></i>
                      </div>
                      <div>
                        <p class="event_time">2016-01-09 Sat. 2pm</p>
                        <p class="event_location">北京 成府路 288.5号 (3ESPACE, 三一基金会)</p>
                        <p class="event_numberofpeople">100</p>
                      </div>
                    </div>
                    <blockquote class="event_blockquote">
                      Future refers to foresightful expectation and imagination, infinity indicates the possibility of making breakthrough with a global view.<br/>“未来”是前瞻性的期待与畅想，“无限”是开放胸怀，放眼世界的心态，以及无所不在的突破和可能。
                    </blockquote>
                    <div class="event_speakers">
                        <div class="speaker_box-1">
                          <div class="speaker_img">
                            <img src="../../../assets/images/wangxiqiao.png" alt="王熙乔" class="img-circle"/>
                          </div>
                          <div class="speaker_intro">
                            <h5 class="">王熙乔</h5>
                            <p>今年18岁，在北大附中任职，并领导一个高中生的探索性时间社区。他相信，在以后的世界里，每个人即使是为了生存，也不得不去做自己热爱的事情。</p>
                          </div>
                        </div>
                        <div class="speaker_box-2">
                          <div class="speaker_img">
                            <img src="../../../assets/images/limi.png" alt="李宓" class="img-circle"/>
                          </div>
                          <div class="speaker_intro">
                            <h5 class="">李宓</h5>
                            <p>毕业于苏富比艺术学院，现为职业艺术品经纪人，艺术批评人，兰境艺术中心合伙人及总监，曾主持建立摩第富艺术集团北京分公司并担任艺术顾问。</p>
                          </div>
                        </div>
                        <div class="speaker_box-3">
                          <div class="speaker_img">
                            <img src="../../../assets/images/chenglei.png" alt="成蕾" class="img-circle"/>
                          </div>
                          <div class="speaker_intro">
                            <h5 class="">成蕾</h5>
                            <p>10岁随父母移民澳大利亚，在昆士兰州大学获得商学学位。2001年回到中国，并与2003年开始在央视主持《财经回顾》，《中国财经》等节目。此后加入CNBC－第一财经，并在2013年重返央视主持《环球财经》。</p>
                          </div>
                        </div>
                        <div class="speaker_box-4">
                          <div class="speaker_img">
                            <img src="../../../assets/images/dengxiaobai.png" alt="邓小白" class="img-circle"/>
                          </div>
                          <div class="speaker_intro">
                            <h5 class="">邓小白</h5>
                            <p>IDG资本自由人，Harvad Seed Fellow，蓝胖子机器人公司创始人，曾就职于科尔尼咨询，摩根大通亚洲和UPS美国，现从事物流机器人（全自动化）研究开发。</p>
                          </div>
                        </div>
                    </div><!--end of swiper-container-->
                  </div>
                </div><!--end of single_event-->
        </section>