#section_coop_and_sponsor{
    h2{
        text-align: center;
        margin: 15px auto;
    }
  .thumbnail{
    width: 255px;
    margin: 0 auto;
    img{
      width: 250px;
      height: 100%;
    }
  }
}