@media(min-width: 1024px){
    .tiles{
        position: relative;
        .large_tile{
            width: 60%;
            position: absolute;
            bottom: 0;
            right: 0;
        }
        @for $i from 1 through 2{
            .medium_tile#{$i} {
                width: 40%;
                position: absolute;
                @if $i == 1{
                    bottom: 20%;
                    right: 60%;
                }@else if $i == 2{
                    top: 0;
                    left: 0;
                }    
            }
        }
        @for $i from 1 through 4{
            .small_tile#{$i} {
                width: 20%;
                position: absolute;
                @if $i == 1{
                    bottom: 0;
                    right: 60%;
                }@else if $i == 2{
                    top: 20%;
                    right: 0;
                }@else if $i == 3{
                    top: 20%;
                    right: 20%;
                }@else if $i == 4{
                    top: 20%;
                    right: 40%;
                }
            }
        }
    }
}