@media(min-width: 1024px){ //number of tiles smaller or equal to 3
    .tiles{
        position: relative;
        .large_tile{
            width: 60%;
            position: absolute;
            top: 0;
            right: 0;
        }
        .medium_tile{
            width: 40%;
            position: absolute;
            top: 33%;
            left: 0;
        }
        .small_tile{
            width: 20%;
            position: absolute;
            top: 0;
            right: 60%;
        }
    }
}