<section class="component">
            <h1 id="title" class="text-center">TED? TEDx? TEDxKidsXueyuanlu?</h1>
            <div class="row intro-all container-fluid">
                <div class="col-md-4 intro-section image_card">
                    <img src="../../assets/images/TED_logo.png" alt="TED_logo"/>
                    <p class="intro">TED是一个致力于“传播有价值的思想”的非营利组织，1984年TED大会在加州第一次举办，在TED大会上，全世界各行各业的思想家和行动家在18分钟之内进行精彩的演讲。</p>
                </div>
                <div class="col-md-4 intro-section image_card">
                    <img src="../../assets/images/TEDx_logo.png" alt="TED_logo"/>
                    <p class="intro">秉着“传播有价值的思想”的理念，TED推出了本地化的、自发组织的TEDx项目。它将人们聚集到一起来分享类似于TED 的经历和体验。“x”即是独立组织的TED活动之意。</p>
                </div>
                <div class="col-md-4 intro-section image_card">
                    <img src="../../assets/images/TEDx_kids_logo.png" alt="TED_logo"/>
                    <p class="intro">TEDxKids@Xueyuanlu是中国首个针对Kids的TEDx。 秉承TED “Idea Worth Spreading”的理念，我们邀请特色儿童以及跨界精英作为演讲嘉宾，带给听众跨领域的新锐观点和创新体验。</p>
                </div>
            </div>
</section>