<section id="banner">
    <div class="slider_box image_card">
        <h2 id="cn_slogan">
            <span class="pigment_red">为孩子</span><span class="pigment_white">传播有价值的</span><span class="pigment_red">思想</span>
        </h2>
        <h2 id="en_slogan">
            <span class="pigment_red">Ideas</span><span class="pigment_white"> Worth Spreading</span>
        </h2>
        <div class="banner_message_box">
            <p>
                <span class="message_heading pigment_white">TEDxKids@Xueyuanlu</span>
                <span class="message_content pigment_white"><i class="fa fa-quote-left"></i><span class="title">无限&middot;未来</span><i class="fa fa-quote-right"></i></span><br />
                <span class="message_end pigment_white">票已抢光，活动已结束<br />
                      您可以点击<a href="#">观看视频</a></span>
            </p>
        </div><!--end of banner_message_box-->
        <button class="image_prev" ng-click="scrollLeft()"> « </button>
	    <button class="image_next" ng-click="scrollRight()"> » </button>
        <div class="slider">
            <div class="list">
                <img class="banner_jumbotron_img" src="../../assets/images/banner_1.png" alt="jumbotron_1" />
            </div>
            <div class="list">
                <img class="banner_jumbotron_img" src="../../assets/images/banner_2.jpg" alt="jumbotron_2" />
            </div>
        </div>
    </div><!--end of slider box-->
</section><!--end of banner-->