<section class="component">
          <div class="container-fluid row">
            <div class="col-md-3 speaker">
              <div class="thumbnail image_card">
                <img src="../../../assets/images/speaker.png" alt="嘉宾">
                <div class="caption">
                  <h3>演讲人(Speaker)</h3>
                  <p>TEDxKids@Xueyuanlu的目标，是为小朋友提供跨领域的新锐观点和创新体验。
不论是“大朋友”还是“小朋友”，如果你有值得传播的思想和故事，欢迎登上TEDxKids的舞台！自荐或推荐演讲人，点击申请或者发简历到<a href="mailto:speaker_kids@tedxkidsxueyuanlu.com">speaker_kids@tedxkidsxueyuanlu.com</a>或<a href="mailto:speaker_adult@tedxkidsxueyuanlu.com">speaker_adult@tedxkidsxueyuanlu.com</a>
</p>
                  <p><a href="#" class="btn btn-danger" role="button">推荐</a>
                    <a href="#" class="btn btn-default" role="button">自荐</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-3 audience">
              <div class="thumbnail image_card">
                <img src="../../../assets/images/audience.png" alt="观众">
                <div class="caption">
                  <h3>观众(Audience)</h3>
                  <p>中国首个面向儿童的TEDxKids舞台，是不是让你兴奋不已？在这里，小朋友能和家长一起聆听动人故事，体验探索活动；教育者和关注未来产业的专业人士也可以感受创新思想的碰撞。想要抢先知道未来活动安排并优先锁定座位，请发邮件至<a href="mailto:audience@tedxkidsxueyuanlu.com">audience@tedxkidsxueyuanlu.com</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-3 volunteer">
              <div class="thumbnail image_card">
                <img src="../../../assets/images/volunteer.png" alt="志愿者">
                <div class="caption">
                  <h3>志愿者(Volunteer)</h3>
                  <p>我们是最具创造力和活力的团队，我们设计最新锐有趣的活动，我们还提供机会与跨领域尖端人士对话合作。快来加入成为志愿者，找到更多同行伙伴一起成长。希望成为志愿者，请发送个人简历至<a href="mailto:hr@tedxkidsxueyuanlu.com">hr@tedxkidsxueyuanlu.com</a></p>
                  <p><a href="#" class="btn btn-success" role="button">申请</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 partner">
              <div class="thumbnail image_card">
                <img src="../../../assets/images/partner.png" alt="合作伙伴">
                <div class="caption">
                  <h3>合作伙伴(Partner)</h3>
                  <p>我们以开放的心态，欢迎合作伙伴参与，共同为小朋友打造最棒的TEDxKids体验。如果你尊重TED精神，认同TED理念，愿意为小朋友打造最棒的TEDxKids体验，请发邮件至<a href="mailto:partnership@tedxkidsxueyuanlu.com">partnership@tedxkidsxueyuanlu.com</a></p>
                  <p><a href="#" class="btn btn-warning" role="button">申请</a>
                </div>
              </div>
            </div>
          </div>
        </section>